<a href="https://colab.research.google.com/github/preeti13456/machine-learning-/blob/master/Chicago_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import math, time, random, datetime

# Data Manipulation
import numpy as np
import pandas as pd

# Visualization 
import matplotlib.pyplot as plt

import seaborn as sns
plt.style.use('seaborn-whitegrid')
from datetime import datetime

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize

# Machine learning

from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier


# Let's be rebels and ignore warnings for now
import warnings
warnings.filterwarnings('ignore')

In [0]:
df = pd.read_csv('/content/Chicago_Crime_Detective.csv')

In [0]:
print(df)

        Unnamed: 0       ID            Date  ... District  CommunityArea  Year
0                0  8951354  12/31/12 23:15  ...        6             69  2012
1                1  8951141  12/31/12 22:00  ...       12             24  2012
2                2  8952745  12/31/12 22:00  ...       16             11  2012
3                3  8952223  12/31/12 22:00  ...        7             67  2012
4                4  8951608  12/31/12 21:30  ...        2             35  2012
...            ...      ...             ...  ...      ...            ...   ...
191636      191636  1310068     1/1/01 0:05  ...      NaN            NaN  2001
191637      191637  1313404     1/1/01 0:01  ...      NaN            NaN  2001
191638      191638  1313442     1/1/01 0:01  ...      NaN            NaN  2001
191639      191639  1563324     1/1/01 0:01  ...      NaN            NaN  2001
191640      191640  1310463     1/1/01 0:01  ...      NaN            NaN  2001

[191641 rows x 10 columns]

In [0]:
df.head()

   Unnamed: 0       ID            Date  ... District  CommunityArea  Year
0           0  8951354  12/31/12 23:15  ...        6             69  2012
1           1  8951141  12/31/12 22:00  ...       12             24  2012
2           2  8952745  12/31/12 22:00  ...       16             11  2012
3           3  8952223  12/31/12 22:00  ...        7             67  2012
4           4  8951608  12/31/12 21:30  ...        2             35  2012

[5 rows x 10 columns]

In [0]:
df.describe()

          Unnamed: 0            ID           Beat           Year
count  191641.000000  1.916410e+05  191641.000000  191641.000000
mean    95820.000000  4.968629e+06    1258.810771    2006.134940
std     55322.135806  2.342997e+06     702.530465       3.520285
min         0.000000  1.310022e+06     111.000000    2001.000000
25%     47910.000000  2.832144e+06     722.000000    2003.000000
50%     95820.000000  4.762956e+06    1121.000000    2006.000000
75%    143730.000000  7.201878e+06    1733.000000    2009.000000
max    191640.000000  9.181151e+06    2535.000000    2012.000000

In [0]:
df.dropna()

        Unnamed: 0       ID            Date  ... District  CommunityArea  Year
0                0  8951354  12/31/12 23:15  ...        6             69  2012
1                1  8951141  12/31/12 22:00  ...       12             24  2012
2                2  8952745  12/31/12 22:00  ...       16             11  2012
3                3  8952223  12/31/12 22:00  ...        7             67  2012
4                4  8951608  12/31/12 21:30  ...        2             35  2012
...            ...      ...             ...  ...      ...            ...   ...
190519      190519  1356371    1/24/01 5:00  ...        5             54  2001
190816      190816  1339061   1/17/01 23:45  ...        6             71  2001
191406      191406  1318415    1/5/01 13:00  ...       16             76  2001
191408      191408  1322018    1/5/01 12:00  ...       17             13  2001
191605      191605  1310988    1/1/01 17:00  ...        8             66  2001

[148587 rows x 10 columns]

In [0]:
df.median()

Unnamed: 0      95820.0
ID            4762956.0
Arrest              0.0
Domestic            0.0
Beat             1121.0
Year             2006.0
dtype: float64

In [0]:
df.max()

Unnamed: 0                  191640
ID                         9181151
Date                   9/9/12 9:50
LocationDescription      WAREHOUSE
Arrest                        True
Domestic                      True
Beat                          2535
Year                          2012
dtype: object

In [0]:
df.mode()

        Unnamed: 0       ID          Date  ... District CommunityArea    Year
0                0  1310022  5/16/08 0:00  ...        8            25  2001.0
1                1  1310068           NaN  ...      NaN           NaN     NaN
2                2  1310446           NaN  ...      NaN           NaN     NaN
3                3  1310455           NaN  ...      NaN           NaN     NaN
4                4  1310463           NaN  ...      NaN           NaN     NaN
...            ...      ...           ...  ...      ...           ...     ...
191636      191636  9163509           NaN  ...      NaN           NaN     NaN
191637      191637  9166887           NaN  ...      NaN           NaN     NaN
191638      191638  9169981           NaN  ...      NaN           NaN     NaN
191639      191639  9179108           NaN  ...      NaN           NaN     NaN
191640      191640  9181151           NaN  ...      NaN           NaN     NaN

[191641 rows x 10 columns]

In [0]:
df.mean()

Unnamed: 0    9.582000e+04
ID            4.968629e+06
Arrest        8.106825e-02
Domestic      2.165507e-03
Beat          1.258811e+03
Year          2.006135e+03
dtype: float64

In [0]:
df.min()

Unnamed: 0                              0
ID                                1310022
Date                          1/1/01 0:01
LocationDescription    ABANDONED BUILDING
Arrest                              False
Domestic                            False
Beat                                  111
Year                                 2001
dtype: object

In [0]:
df.dropna()

        Unnamed: 0       ID            Date  ... District  CommunityArea  Year
0                0  8951354  12/31/12 23:15  ...        6             69  2012
1                1  8951141  12/31/12 22:00  ...       12             24  2012
2                2  8952745  12/31/12 22:00  ...       16             11  2012
3                3  8952223  12/31/12 22:00  ...        7             67  2012
4                4  8951608  12/31/12 21:30  ...        2             35  2012
...            ...      ...             ...  ...      ...            ...   ...
190519      190519  1356371    1/24/01 5:00  ...        5             54  2001
190816      190816  1339061   1/17/01 23:45  ...        6             71  2001
191406      191406  1318415    1/5/01 13:00  ...       16             76  2001
191408      191408  1322018    1/5/01 12:00  ...       17             13  2001
191605      191605  1310988    1/1/01 17:00  ...        8             66  2001

[148587 rows x 10 columns]

In [0]:
from datetime import datetime
import datetime as dt

df.dtypes

In [0]:
df.median()

Unnamed: 0      95820.0
ID            4762956.0
Arrest              0.0
Domestic            0.0
Beat             1121.0
Year             2006.0
dtype: float64

df.sort()

In [0]:
d = df.sort_values(by=['Year'],inplace=True)

In [0]:
t = df.sort_values(by=['Date'], inplace=True)

In [0]:
df = df.sort_index()

In [0]:


df

        Unnamed: 0       ID            Date  ... District  CommunityArea  Year
0                0  8951354  12/31/12 23:15  ...        6             69  2012
1                1  8951141  12/31/12 22:00  ...       12             24  2012
2                2  8952745  12/31/12 22:00  ...       16             11  2012
3                3  8952223  12/31/12 22:00  ...        7             67  2012
4                4  8951608  12/31/12 21:30  ...        2             35  2012
...            ...      ...             ...  ...      ...            ...   ...
191636      191636  1310068     1/1/01 0:05  ...      NaN            NaN  2001
191637      191637  1313404     1/1/01 0:01  ...      NaN            NaN  2001
191638      191638  1313442     1/1/01 0:01  ...      NaN            NaN  2001
191639      191639  1563324     1/1/01 0:01  ...      NaN            NaN  2001
191640      191640  1310463     1/1/01 0:01  ...      NaN            NaN  2001

[191641 rows x 10 columns]

In [0]:
df['Date'] = df['Date'].sort_values()

In [0]:
w = df['Date']

In [0]:
np.info(w)

In [0]:
np.random.permutation(w)

array(['10/25/01 2:30', '8/30/06 11:23', '10/21/10 22:00', ...,
       '5/7/12 12:30', '6/20/04 0:00', '9/24/05 0:00'], dtype=object)

In [0]:
print(np.max(w,axis=0))

9/9/12 9:50

In [0]:
j = np.random.seed(23)
print(j)

None

In [0]:
sample_size = df[['Date','Beat']]
sample_size.boxplot(by = 'Date')

In [0]:
df['Date'].quantile(0.5)

In [0]:
month = df.Date.dt.month_name

In [0]:
df.Date.dt.month.value_counts()

In [0]:
day = df.Date.dt.day_name

In [0]:
df.Date.dt.day.value_counts()

In [0]:
df.Date.dt.month.value_counts('Arrest')

In [0]:
Year = df.Date.dt.year

In [0]:
df.Date.dt.year.value_counts('Year')

In [0]:
df.plot('Arrest','Year')