<a href="https://colab.research.google.com/github/preeti13456/machine-learning-/blob/master/GsocTensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import zipfile
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from six.moves import cPickle as pickle
from six.moves import range
import sklearn
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

from __future__ import absolute_import, division, print_function, unicode_literals

try:
  # %tensorflow_version only exists in Colab.
  !pip install -q tf-nightly
except Exception:
  pass
import tensorflow as tf

import tensorflow_datasets as tfds

WARNING:tensorflow:From /tensorflow-1.15.2/python3.6/tensorflow_core/python/compat/v2_compat.py:68: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term
     |████████████████████████████████| 516.4MB 28kB/s
     |████████████████████████████████| 2.8MB 40.0MB/s
     |████████████████████████████████| 460kB 52.6MB/s
     |████████████████████████████████| 778kB 37.3MB/s

In [0]:
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
data = pd.read_csv('/content/drive/My Drive/BBox_List_2017.csv')
data

          Image Index Finding Label  ...  Unnamed: 7  Unnamed: 8
0    00013118_008.png   Atelectasis  ...         NaN         NaN
1    00014716_007.png   Atelectasis  ...         NaN         NaN
2    00029817_009.png   Atelectasis  ...         NaN         NaN
3    00014687_001.png   Atelectasis  ...         NaN         NaN
4    00017877_001.png   Atelectasis  ...         NaN         NaN
..                ...           ...  ...         ...         ...
979  00029464_015.png   Atelectasis  ...         NaN         NaN
980  00025769_001.png   Atelectasis  ...         NaN         NaN
981  00016837_002.png   Atelectasis  ...         NaN         NaN
982  00020124_003.png   Atelectasis  ...         NaN         NaN
983  00026920_000.png   Atelectasis  ...         NaN         NaN

[984 rows x 9 columns]

In [0]:
t = pd.read_csv('/content/drive/My Drive/Data_Entry_2017.csv')
t

             Image Index          Finding Labels  ...     y]  Unnamed: 11
0       00000001_000.png            Cardiomegaly  ...  0.143          NaN
1       00000001_001.png  Cardiomegaly|Emphysema  ...  0.143          NaN
2       00000001_002.png   Cardiomegaly|Effusion  ...  0.168          NaN
3       00000002_000.png              No Finding  ...  0.171          NaN
4       00000003_000.png                  Hernia  ...  0.143          NaN
...                  ...                     ...  ...    ...          ...
112115  00030801_001.png          Mass|Pneumonia  ...  0.168          NaN
112116  00030802_000.png              No Finding  ...  0.168          NaN
112117  00030803_000.png              No Finding  ...  0.168          NaN
112118  00030804_000.png              No Finding  ...  0.168          NaN
112119  00030805_000.png              No Finding  ...  0.171          NaN

[112120 rows x 12 columns]

In [0]:
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
with open('/content/drive/My Drive/test_list.txt', 'w') as f:
  f.write('Hello Google Drive!')
  print('/content/drive/My Drive/test_list.txt')
  f

In [0]:
with open('/content/drive/My Drive/train_val_list.txt', 'w') as c:
  c.write('Hello Google Drive!')
  print('/content/drive/My Drive/test_list.txt')
  c

In [0]:
data.head()

In [0]:
t.head()

In [0]:
import os
os.path.isfile('/content/drive/My Drive/test_list.txt')

In [0]:
f = open("/content/drive/My Drive/test_list.txt")
print(f.read(10))

In [0]:
c = open('/content/drive/My Drive/train_val_list.txt')
print(c.read(100))

In [0]:
import IPython.display as display
from PIL import Image

In [0]:
DIRECTORY_URL = 'https://storage.googleapis.com/download.tensorflow.org/data/illiad/'
FILE_NAMES = ['text_list.txt','train_val_list.txt']

In [0]:
data[['Image Index' ,	'Finding Label' ,	'y','w' ,	'Unnamed: 6' ,	'Unnamed: 7' ,	'Unnamed: 8']].describe()

In [0]:
t [['Image Index',	'Finding Labels' ,'Patient ID',	'Patient Age',	'Patient Gender',	'View Position'		, 'Unnamed: 11']].describe()

In [0]:
with open('test_list.txt','r') as f_open:
    w = f_open.read()

print (w)

In [0]:
with open('train_val_list.txt','r') as f_open:
    s = f_open.read()

print (s)

In [0]:
w = tf.Variable(tf.ones(shape=(2,2)), name="W")
s = tf.Variable(tf.zeros(shape=(2)), name="b")

@tf.function
def forward(x):
  return w * x + s

out_w = forward([1,0])
print(out_w)
out_s = forward([2,0])
print(out_s)

In [0]:

out_s = forward([0,1])

regularizer = tf.keras.regularizers.l2(0.04)
reg_loss=regularizer(w)

In [0]:
data = []
labels = []

def preprocess():
    with open('test_list.txt') as f:
        for line in f:
            

            img = Image.open(content/test_list.txt)
            arr = np.array(img.getdata(), dtype=np.int8)
            data.append(arr)

In [0]:
model = tf.keras.Sequential([
    tf.keras.layers.Conv2D(32, 3, activation='relu',
                           kernel_regularizer=tf.keras.regularizers.l2(0.04),
                           input_shape=(28, 28, 1)),
    tf.keras.layers.MaxPooling2D(),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dropout(0.1),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(10)
])

train_data = tf.ones(shape=(1, 28, 28, 1))
test_data = tf.ones(shape=(1, 28, 28, 1))

In [0]:
# Here are all the trainable variables.
len(model.trainable_variables)

In [0]:
# Here is the regularization loss.
model.losses

In [0]:
# Create a custom layer for part of the model
class CustomLayer(tf.keras.layers.Layer):
  def __init__(self, *args, **kwargs):
    super(CustomLayer, self).__init__(*args, **kwargs)

  def build(self, input_shape):
    self.w = self.add_weight(
        shape=input_shape[1:],
        dtype=tf.float32,
        initializer=tf.keras.initializers.ones(),
        regularizer=tf.keras.regularizers.l2(0.02),
        trainable=True)

  # Call method will sometimes get used in graph mode,
  # training will get turned into a tensor
  @tf.function
  def call(self, inputs, training=None):
    if training:
      return inputs + self.w
    else:
      return inputs + self.w * 0.5

In [0]:
s = tf.ones(shape=(1, 28, 28, 1))
w = tf.ones(shape=(1, 28, 28, 1))

In [0]:
model = tf.keras.Sequential([
    CustomLayer(input_shape=(28, 28, 1)),
    tf.keras.layers.Conv2D(32, 3, activation='relu'),
    tf.keras.layers.MaxPooling2D(),
    tf.keras.layers.Flatten(),
])

train_out = model(s, training=True)
test_out = model(w, training=False)

In [0]:
BUFFER_SIZE = 10 # Use a much larger value for real code.
BATCH_SIZE = 64
NUM_EPOCHS = 5


def scale(image, label):
  image = tf.cast(image, tf.float32)
  image /= 255

  return image, label